---
import TextHeader from "../../components/ui/TextHeader.astro";
import Layout from "../../layouts/Layout.astro";
import TestimonialCard from "../../components/TestimonialCard.astro";
import { testimonialsData } from "../../data/testimonials.ts";
---

<Layout>
  <div
    class="w-full flex flex-col items-center justify-center py-16 gap-16 mt-16"
  >
    <div class="container flex flex-col items-center justify-center gap-8">
      <TextHeader
        text={testimonialsData.header.text}
        boldText={testimonialsData.header.boldText}
      />
    </div>

    <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        testimonialsData.testimonials.map((testimonial) => (
          <TestimonialCard {...testimonial} />
        ))
      }
    </div>
  </div>
</Layout>
