---
import TextHeader from "../../components/ui/TextHeader.astro";
import Layout from "../../layouts/Layout.astro";
import TestimonialCard from "../../components/TestimonialCard.astro";
import { testimonials } from "../../data/testimonials.ts";
---

<Layout>
  <div
    class="w-full flex flex-col items-center justify-center py-16 gap-16 mt-16"
  >
    <div class="container flex flex-col items-center justify-center gap-8">
      <TextHeader text="Apa kata mereka" boldText="setelah memakai jasa kami" />
    </div>

    <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {testimonials.map((testimonial) => <TestimonialCard {...testimonial} />)}
    </div>
  </div>
</Layout>
