---
import law_icon from "@/assets/law-icon.svg";
import { service } from "@/data/service";
---

<div class="w-full flex justify-center" id="service">
  <div class="container flex flex-col items-center gap-10">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        service.map((item) => (
          <div class="border border-gray-200 p-6 rounded-2xl flex flex-col gap-5">
            <div class="flex gap-5 items-center">
              <img src={law_icon.src} alt="Law Icon" />
              <h2 class="text-xl font-semibold mb-2">{item.title}</h2>
            </div>

            <p class="text-secondary">{item.desc}</p>
          </div>
        ))
      }
    </div>
  </div>
</div>
