---
import Layout from "@/layouts/Layout.astro";
import AboutUs from "./home/components/AboutUs.astro";
import Hero from "./home/components/Hero.astro";
import Service from "./home/components/Service.astro";
import Team from "./home/components/Team.astro";
import Trust from "./home/components/Trust.astro";
---

<Layout>
  <div class="flex flex-col">
    <Hero />
    <Trust />
    <AboutUs />
    <Service />
    <Team />
  </div>
</Layout>
