---
import Layout from "@/layouts/Layout.astro";
import AboutUs from "@/components/AboutUs.astro";
import Hero from "@/components/Hero.astro";
import Service from "@/components/Service.astro";
import Team from "@/components/Team.astro";
import Trust from "@/components/Trust.astro";
import StructuredData from "@/components/StructuredData.astro";
import FAQ from "@/components/FAQ.astro";
import TestimonialSection from "@/components/TestimonialSection.astro";

const seo = {
  title:
    "DIR & Associates - Advokat, Kurator & Pengurus, Pengacara Pajak Surabaya",
  description:
    "Butuh pengacara kepailitan yang berintegritas? DIR & Associates hadir untuk membantu Anda dengan pengalaman dan profesionalisme dalam menangani kasus kepailitan.",
  keywords:
    "pengacara kepailitan indonesia, advokat surabaya, kurator dan pengurus, pengacara pajak, firma hukum, layanan hukum, mediator, PKPU, DIR & Associates, Dwi Oktorianto",
  type: "website",
};
---

<Layout title={seo.title} seo={seo}>
  <StructuredData
    type="LegalService"
    name="DIR & Associates"
    description={seo.description}
    url="https://dirassociates.com"
    telephone="+62 822-918-789"
    email="dirlaw@gmail.com"
    openingHours={["Mo-Fr 09:00-17:00"]}
    priceRange=""
  />
  <div class="flex flex-col">
    <Hero />
    <Trust />
    <AboutUs />
    <Service />
    <FAQ />
    <TestimonialSection />
    <Team />
  </div>
</Layout>
