---
import okto from "@/assets/about-us-okto.png";
import citra from "@/assets/about-us-citra.png";
import samuel from "@/assets/about-us-samuel.png";

const data = [
  {
    name: "Dwi Oktorianto R., S.H., M.Kn., CRA. CTL. CM.",
    level: "Managing Partner",
    image: okto,
  },
  {
    name: "Citra Solvia Hadi Meilia, S.H., M.H",
    level: "Partner",
    image: citra,
  },
  {
    name: "Samuel Hadi Prabowo, S.H.",
    level: "Partner",
    image: samuel,
  },
];
---

<section id="team">
  <div class="container max-w-6xl mx-auto flex flex-col gap-8">
    <div class="flex flex-col gap-4">
      <h2 class="text-4xl font-medium">Tim Kami</h2>
      <p class="text-base text-secondary">
        Tim hukum profesional yang berdedikasi untuk melayani kebutuhan hukum
        Anda dengan integritas dan keahlian yang teruji serta komitmen tinggi
        terhadap keberhasilan setiap kasus.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {
        data.map((item) => (
          <div class="flex flex-col gap-4">
            {/* image container */}
            <div class="w-full bg-gray-100 rounded-2xl flex justify-center pt-4">
              <img
                src={item.image.src}
                alt={item.name}
                class="h-80 object-bottom"
              />
            </div>
            <h3 class="text-2xl font-medium">{item.name}</h3>
            <p class="text-base text-secondary">{item.level}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
