---
// import Button from "@/components/ui/Button.astro";
// import heroImage from "@/assets/home-hero.png";
// import Rating from "@/components/Rating.astro";
import HeroSlider from "./HeroSlider.astro";
import Rating from "./Rating.astro";

const data = [
  "Advokat Konsultan Hukum",
  "Kurator dan Pengurus",
  "Kuasa Hukum Pajak",
  "Mediator",
];

const checklist = [
  "Professional dan terpercaya",
  "Jangkauan seluruh Indonesia",
  "Pendampingan penuh",
];
---

<section
  class="mx-auto container flex flex-col justify-between min-h-[calc(100vh-300px)] xl:min-h-[calc(100vh-60px)]"
>
  <div class="h-40"></div>
  <HeroSlider />
  <div class="py-10 flex justify-center flex-col gap-5 items-center">
    <Rating />

    <span class="p-1 pr-3 rounded-full border border-gray-200 flex gap-1">
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          opacity="0.987"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9.01131 1.3263C9.91756 1.22505 10.4538 1.22505 11.4276 1.3263C13.1512 1.58142 14.7491 2.37816 15.9901 3.6013C15.1515 4.39397 14.3239 5.19822 13.5076 6.0138C11.9442 4.6888 10.1992 4.38297 8.27256 5.0963C6.85923 5.7463 5.87506 6.79964 5.32006 8.2563C4.41311 7.58109 3.51797 6.89015 2.63506 6.1838C2.5737 6.15151 2.50362 6.13968 2.43506 6.15005C3.83756 3.44589 6.02923 1.83755 9.01006 1.32505"
          fill="#F44336"></path>
        <path
          opacity="0.997"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M2.43257 6.1501C2.5034 6.13927 2.57049 6.15052 2.63382 6.18385C3.51674 6.8902 4.41187 7.58114 5.31882 8.25635C5.1761 8.82393 5.08614 9.40347 5.05007 9.9876C5.0809 10.5526 5.17049 11.1072 5.31882 11.6514L2.50007 13.8951C1.27257 11.3301 1.25007 8.74844 2.43257 6.1501Z"
          fill="#FFC107"></path>
        <path
          opacity="0.999"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M15.8563 16.6125C14.9787 15.8385 14.0598 15.1125 13.1038 14.4375C14.0622 13.7609 14.6438 12.8325 14.8488 11.6525H10.1526V8.39129C12.8609 8.36879 15.568 8.39171 18.2738 8.46004C18.7872 11.2475 18.1943 13.7609 16.4951 16C16.293 16.2148 16.079 16.4193 15.8563 16.6125Z"
          fill="#448AFF"></path>
        <path
          opacity="0.993"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M5.31875 11.6526C6.34375 14.2001 8.22292 15.3893 10.9563 15.2201C11.7235 15.1313 12.4592 14.8632 13.1037 14.4376C14.0604 15.1143 14.9779 15.8393 15.8563 16.6126C14.4646 17.8632 12.6901 18.6052 10.8225 18.7176C10.3982 18.7515 9.97182 18.7515 9.5475 18.7176C6.36583 18.3426 4.01667 16.7351 2.5 13.8951L5.31875 11.6526Z"
          fill="#43A047"></path>
      </svg>

      Google Review
    </span>
  </div>

  <!-- left side -->
  <!-- <div class="flex flex-col gap-6 lg:gap-8 max-w-xl flex-1 px-4 lg:px-0">
    <h1
      class="text-5xl md:text-4xl lg:text-5xl xl:text-6xl font-semibold"
      style="line-height: 1.2;"
    >
      Solusi <span class="text-primary underline">Hukum Terpercaya</span> untuk Perusahaan
      & Individu
    </h1>

    <p class="text-secondary text-base lg:text-lg">
      Kami membantu Anda menyelesaikan permasalahan hukum dengan pendekatan
      strategis, terukur, dan berintegritas tinggi.
    </p>

    <div class="flex flex-col gap-3 mb-5">
      {
        checklist.map((c) => {
          return (
            <div class="flex gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.3em"
                height="1.3em"
                viewBox="0 0 24 24"
                class="text-color-secondary shrink-0"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75s-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12m13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="font-medium text-base">{c}</span>
            </div>
          );
        })
      }
    </div>

    <div class="flex flex-col sm:flex-row gap-2 sm:space-x-2">
      <Button variant="primary" size="lg" whatsapp="+62 822-918-789"
        >Konsultasi Gratis Sekarang
      </Button>

      <Button variant="outline" size="lg" href="/service">Lihat Layanan</Button>
    </div>

    <div>
      <Rating />
    </div>
  </div> -->

  <!-- center - hero image -->
  <!-- <div class="flex-1 flex justify-center lg:justify-start">
    <img src={heroImage.src} alt="Hero" class="max-w-full h-auto" />
  </div> -->

  <!-- right side - services list -->
  <!-- <div class="flex-1 lg:max-w-xs px-4 lg:px-0">
    <div class="flex flex-col gap-1 items-center lg:items-end">
      {
        data.map((d, index) => {
          const cls = index % 2 === 0 ? "text-color-secondary" : "";
          return (
            <div
              class={`text-2xl text-left lg:text-right lg:text-4xl ${cls}`}
              style="font-weight: 500; line-height: 1.3;"
            >
              {d}
            </div>
          );
        })
      }

      <div class="text-secondary text-base lg:text-lg mt-2">
        Dwi Oktorianto R., S.H., M.Kn., CRA. CTL. CM. & Tim
      </div>
    </div>
  </div> -->
</section>
