---
const google_link =
  "https://www.google.com/search?client=safari&hs=KS5U&sca_esv=4120b7f1f0b03a83&hl=en-id&q=pengacara+surabaya+terpercaya+dwi+oktorianto+r,sh,m.kn,cra,ctl%26+associates+reviews&uds=ALYpb_mSNZkUwGikr6IqIVGsvUjS7e0RKP5sEXcIIThT1gbWTdSsIZSTPxZRhqZvO-9L-AejI8oibWQGq1tcijUPbw9zL7U4Pg0rqp78rZW-CGA-y3WwlRw_FMcmsriDbPMVHeiIb_EJDNUzwDUP9xi59xWumKCaKLPZUgVEDuG1VMGVW772yJiyrn7kwl-bBiMiAbrDU1sj8NJ0VT6X456ASwFrksPMnszhIHFX3B21rTK_f4J4kU_cQMsSHwShSKw8hNLrSjjHfmeOxJXm7QiOWhlJWM5ONS-QrDEdw3djPV_nQCm3UPmJL-yqxyyTX49pAFTwAJwuWjACZMhawptWsgn1z1G---qPPt3gWg-t0uutjlL6YE9WP6lqo1YpsXUZ5ZKIGk3_reHdShExOe1KtxqV4wSlFFSY0-M8y4uKTb211_-MDRhvb_MrRBvHww-IHxxCxQ0lEbPaSScuu1nRwlrcF_AGCMITAsEYND8zE37EZ5R1D887cSgD88KPr_cB6ve2BgIFG65tx0PTjoa4LZ8SMC3DP9giy-XgrWEtlfMG8XbdoATG9G1rA3zw_Omm8_df4rNwZs6emHRa0MsOH_vx2JjbsgIQlY7WzXgitoQS1dMOsdg&si=AL3DRZEsmMGCryMMFSHJ3StBhOdZ2-6yYkXd_doETEE1OR-qOQXK8xez_BQbi1ozt6ys7wqEs40d2INXJhDbKNoJ8BgwJCjn953v1hp5wGupyvP0HUmiAu-HiHfyjnzapfuJysXXmhvGlkaz_F8trtObpZ3d1FzUbZCm3ha15ooTFNCsGYl70bT3mQEu7ah97MfHooiCBe7JzmL5wcAKfX0y6BNEpmlgfA%3D%3D&sa=X&ved=2ahUKEwjC5Z7F7oCUAxUoumMGHRyWIN8Qk8gLegQIFxAB&ictx=1&biw=430&bih=775&dpr=3";
---

<div class="flex flex-col items-center gap-4 text-lg text-center md:text-left">
  <a
    href={google_link}
    target="_blank"
    rel="noopener noreferrer"
    class="hover:text-primary transition-colors"
  >
    Client kami mengatakan pelayanan <strong>sangat bagus dan terbaik</strong>
  </a>

  <div class="flex items-center justify-center gap-2">
    <div class="flex gap-1 text-amber-400">
      {
        [...Array(5)].map(() => (
          <svg
            width="16"
            height="16"
            viewBox="0 0 19 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.26186 0.7496C8.77776 -0.249867 10.2222 -0.249866 10.7381 0.7496L12.651 4.45546C12.853 4.84675 13.232 5.119 13.6709 5.188L17.8268 5.84149C18.9477 6.01773 19.3941 7.37595 18.5921 8.16989L15.6183 11.1137C15.3043 11.4246 15.1595 11.8651 15.2288 12.299L15.8844 16.4087C16.0612 17.5171 14.8926 18.3566 13.8811 17.8478L10.1303 15.9613C9.73424 15.7621 9.26576 15.7621 8.86972 15.9613L5.11895 17.8478C4.10736 18.3566 2.93876 17.5171 3.11559 16.4087L3.77123 12.299C3.84046 11.8651 3.69569 11.4246 3.3817 11.1137L0.407945 8.16989C-0.394074 7.37595 0.0522941 6.01773 1.17316 5.84149L5.32915 5.188C5.76797 5.119 6.14698 4.84675 6.34896 4.45546L8.26186 0.7496Z"
              fill="currentColor"
            />
          </svg>
        ))
      }
    </div>

    <a
      href={google_link}
      target="_blank"
      rel="noopener noreferrer"
      class="p-1 pr-3 rounded-full border border-gray-200 flex gap-1 items-center"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          opacity="0.987"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9.01131 1.3263C9.91756 1.22505 10.4538 1.22505 11.4276 1.3263C13.1512 1.58142 14.7491 2.37816 15.9901 3.6013C15.1515 4.39397 14.3239 5.19822 13.5076 6.0138C11.9442 4.6888 10.1992 4.38297 8.27256 5.0963C6.85923 5.7463 5.87506 6.79964 5.32006 8.2563C4.41311 7.58109 3.51797 6.89015 2.63506 6.1838C2.5737 6.15151 2.50362 6.13968 2.43506 6.15005C3.83756 3.44589 6.02923 1.83755 9.01006 1.32505"
          fill="#F44336"></path>
        <path
          opacity="0.997"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M2.43257 6.1501C2.5034 6.13927 2.57049 6.15052 2.63382 6.18385C3.51674 6.8902 4.41187 7.58114 5.31882 8.25635C5.1761 8.82393 5.08614 9.40347 5.05007 9.9876C5.0809 10.5526 5.17049 11.1072 5.31882 11.6514L2.50007 13.8951C1.27257 11.3301 1.25007 8.74844 2.43257 6.1501Z"
          fill="#FFC107"></path>
        <path
          opacity="0.999"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M15.8563 16.6125C14.9787 15.8385 14.0598 15.1125 13.1038 14.4375C14.0622 13.7609 14.6438 12.8325 14.8488 11.6525H10.1526V8.39129C12.8609 8.36879 15.568 8.39171 18.2738 8.46004C18.7872 11.2475 18.1943 13.7609 16.4951 16C16.293 16.2148 16.079 16.4193 15.8563 16.6125Z"
          fill="#448AFF"></path>
        <path
          opacity="0.993"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M5.31875 11.6526C6.34375 14.2001 8.22292 15.3893 10.9563 15.2201C11.7235 15.1313 12.4592 14.8632 13.1037 14.4376C14.0604 15.1143 14.9779 15.8393 15.8563 16.6126C14.4646 17.8632 12.6901 18.6052 10.8225 18.7176C10.3982 18.7515 9.97182 18.7515 9.5475 18.7176C6.36583 18.3426 4.01667 16.7351 2.5 13.8951L5.31875 11.6526Z"
          fill="#43A047"></path>
      </svg>

      Google Review
    </a>
  </div>
</div>
