<section
  style="background: var(--color-primary);"
  class="py-20 px-8 lg:px-0 lg:py-26 flex flex-col items-center justify-center"
>
  <div class="max-w-[800px] text-white text-center text-2xl leading-relaxed">
    Kami merupakan tim <b>&nbsp;Advokat Surabaya Terbaik&nbsp; </b> yang berkomitmen
    memberikan layanan hukum profesional, transparan, dan berorientasi pada kepentingan
    klien.

    <p class="text-base text-white text-center mt-6 opacity-70">
      Dengan pengalaman menangani berbagai perkara hukum di Surabaya dan
      sekitarnya, kami dipercaya oleh klien individu maupun perusahaan sebagai
      <strong>Pengacara Surabaya Terpercaya</strong> untuk mendampingi proses hukum
      secara optimal.
    </p>
  </div>
</section>
