---
import Button from "@/components/ui/Button.astro";
import heroImage from "@/assets/home-hero.png";
import Rating from "@/components/Rating.astro";

const data = [
  "Advokat Konsultan Hukum",
  "Kurator dan Pengurus",
  "Kuasa Hukum Pajak",
  "Mediator",
];

const checklist = [
  "Professional dan terpercaya",
  "Jangkauan seluruh indonesia",
  "Pendampingan penuh",
];
---

<section
  class="w-full flex flex-col lg:flex-row gap-8 lg:gap-10 items-center lg:container mx-auto"
  style="margin-top: 100px; margin-bottom: 56px;"
>
  <!-- left side -->
  <div class="flex flex-col gap-6 lg:gap-8 max-w-xl flex-1 px-4 lg:px-0">
    <h1
      class="text-5xl md:text-4xl lg:text-5xl xl:text-6xl font-semibold"
      style="line-height: 1.2;"
    >
      Solusi <span class="text-primary underline">Hukum Terpercaya</span> untuk Perusahaan
      & Individu
    </h1>

    <p class="text-secondary text-base lg:text-lg">
      Kami membantu Anda menyelesaikan permasalahan hukum dengan pendekatan
      strategis, terukur, dan berintegritas tinggi.
    </p>

    <div class="flex flex-col gap-3 mb-5">
      {
        checklist.map((c) => {
          return (
            <div class="flex gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.3em"
                height="1.3em"
                viewBox="0 0 24 24"
                class="text-color-secondary shrink-0"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75s-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12m13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="font-medium text-base">{c}</span>
            </div>
          );
        })
      }
    </div>

    <div class="flex flex-col sm:flex-row gap-2 sm:space-x-2">
      <Button variant="primary" size="lg" whatsapp="+62 822-918-789"
        >Konsultasi Gratis Sekarang
      </Button>

      <Button variant="outline" size="lg" href="/service">Lihat Layanan</Button>
    </div>

    <div>
      <Rating />
    </div>
  </div>

  <!-- center - hero image -->
  <div class="flex-1 flex justify-center lg:justify-start">
    <img src={heroImage.src} alt="Hero" class="max-w-full h-auto" />
  </div>

  <!-- right side - services list -->
  <div class="flex-1 lg:max-w-xs px-4 lg:px-0">
    <div class="flex flex-col gap-1 items-center lg:items-end">
      {
        data.map((d, index) => {
          const cls = index % 2 === 0 ? "text-color-secondary" : "";
          return (
            <div
              class={`text-2xl text-left lg:text-right lg:text-4xl ${cls}`}
              style="font-weight: 500; line-height: 1.3;"
            >
              {d}
            </div>
          );
        })
      }

      <div class="text-secondary text-base lg:text-lg mt-2">
        Dwi Oktorianto R, SH., M.Kn, CRA., CTL & Tim
      </div>
    </div>
  </div>
</section>
