---
import "@/styles/global.css";
import TopNavigation from "./TopNavigation.astro";
import Footer from "./Footer.astro";
import SEOMetaTags from "@/components/SEOMetaTags.astro";
import Analytics from "@vercel/analytics/astro";
import FloatingWhatsApp from "@/components/FloatingWhatsApp.astro";
import SpeedInsights from "@vercel/speed-insights/astro";

// Type declarations for Google Analytics
declare global {
  interface Window {
    dataLayer: any[];
    gtag: (...args: any[]) => void;
  }
}

const {
  title = "DIR & Associates - Advokat, Kurator & Pengurus, Pengacara Pajak prestisius.",
  seo,
} = Astro.props;
---

<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="icon" type="image/png" href="/favicon-1.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {seo && <SEOMetaTags {...seo} />}
    <meta
      name="google-site-verification"
      content="lfkhxKoCsxvFFAFAAwpSxaOO1G3xbehvdjrlu0BCg6w"
    />
  </head>
  <body class="mt-20">
    <TopNavigation />
    <main>
      <slot />
    </main>
    <Footer />
    <Analytics />
    <SpeedInsights />
    <FloatingWhatsApp />
  </body>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-324456791"
  ></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "AW-324456791");
  </script>
</html>
